body {
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

header {
    position: relative;
    max-width: 920px;
    height: 100px;
    margin: 0 auto;
}

.header_wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.header_wrap img{
    height: 60px;
    width: 60px;
}

.maintitle {
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
}

#menu nav {
    position: absolute;
    bottom: 0px;
    right: 0;
    padding: 0;
}

#menu li {
    width: 130px;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-left: 0px;
}

#menu li a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-bottom: solid 2px #ffffff;
    transition: border-bottom 0.5s;
}

#menu li a:link, a:visited, a:hover, a:active {
    color: #000000;
  }

#menu li a:hover {
    border-bottom: solid 2px #4B1680;
}

#main h2.title {
    width: min-content;
    text-align: center;
    margin: 0 auto;
    border-bottom: solid 2px #4B1680;
    font-size: 40px;
}

#about {
    width: 960px;
    margin: 0 auto 50px auto;
}

#about img {
    width: 120px;
}

#about h3 {
    border-left: solid 7px #4B1680;
    padding: 0.25em;
}

#works {
    width: 960px;
    margin: 0 auto 50px auto;
}

#links {
    width: 960px;
    margin: 0 auto 50px auto;
}